[Unit]
Description=RedNotebook API
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/opt/rednotebook-api
ExecStart=/opt/rednotebook-api/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=on-failure
RestartSec=5
Environment=REDNOTEBOOK_DIR=/root/rednotebook             # required
Environment="IMMICH_URL=https://your-immich-instance-url" # optional
Environment="IMMICH_API_KEY=your-immich-api-key-here"     # optional
[Install]
WantedBy=multi-user.target
