[Unit]
Description=RedNotebook API
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/opt/rednotebook-api
ExecStart=/opt/rednotebook-api/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=on-failure
RestartSec=5
Environment=REDNOTEBOOK_DIR=/root/rednotebook
[Install]
WantedBy=multi-user.target
